<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>CIDA-Bot {Owner:JIW, Coder:JIW, DMS}</display-name>
	<welcome-file-list>
		<welcome-file>bot</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>BotHandlerServlet</servlet-name>
		<servlet-class>gov.usgs.cida.cidabot.servlet.BotHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BotHandlerServlet</servlet-name>
		<url-pattern>/bot</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogServlet</servlet-name>
		<servlet-class>gov.usgs.cida.cidabot.servlet.LogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogServlet</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
</web-app>